<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Lista de Colaboradores</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Habilidades</th>
            <th>Subcategorías</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuarioInfoDto : ${usuarioInfoList}">
            <td th:text="${usuarioInfoDto.usuario.nombre + ' ' + usuarioInfoDto.usuario.apellido}"></td>
            <td>
                <ul>
                    <li th:each="habilidad : ${usuarioInfoDto.habilidades}" th:text="${habilidad.nombreHabilidad}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="subCategoria : ${usuarioInfoDto.subCategorias}"
                        th:text="${subCategoria.nombreSubCategoria}"></li>
                </ul>
            </td>
            <td>
                <!-- Botón para abrir el modal -->
                <button class="abrirModalBtn"  data-toggle="modal" data-target="#myModal" th:data-user="${usuarioInfoDto.usuario.id}" >Enviar Solicitud</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona un Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/solicitudes/Buscarcolaboradores}" method="post">
                <input type="hidden" id="userInput" name="userId" />
                <div class="modal-body">
                        <select id="proyecto" name="proyecto"  class="form-control">
                            <!-- Se cargan los datos con Ajax -->
                        </select>
                </div>
                <div class="modal-footer">
                    <!-- Botón para enviar la solicitud -->
                    <button type="submit" id="enviarSolicitudBtn" class="btn btn-primary">Enviar Solicitud</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{fragments/scripts :: footer}"></div>
<script th:src="@{/js/buscarColaboradores.js}"></script>
</body>
</html>
