<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<script th:src="@{/js/pruebaColaboradores.js}"></script>
<!-- Div si el Usuario ya esta en el proyecto -->
<div th:if="${error}" class="alert alert-warning">
    <p th:text="${error}"></p>
</div>
<div class="container">
    <div class="container">
        <div class="row vh-100">
            <div class="col-md-12">
                <h1 class="card-tittle">Lista de Colaboradores</h1>
                <table class="table" id="colaboradoresTable">
                    <thead>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>Habilidades</th>
                        <th>Subcategorías</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona un Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/notificaciones/enviarSolicitud}" method="post">
                <input type="hidden" id="userInput" name="userId"/>
                <div class="modal-body">
                    <select id="proyecto" name="proyecto" class="form-control">
                        <!-- Se cargan los datos con Ajax -->
                    </select>
                </div>
                <div class="modal-footer">
                    <!-- Botón para enviar la solicitud -->
                    <button type="submit" id="enviarSolicitudBtn" class="btn btn-primary">Enviar Solicitud</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{fragments/scripts :: footer}"></div>
<script th:src="@{/js/uploadProjectsXUser.js}"></script>
</body>
</html>
