<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="container-fluid p-4">

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Datos personales</h2>
                        <ul class="list-unstyled">
                            <li>
                                <span class="fw-bold">Nombre:</span> <span th:text="${session.usuario.nombre}"></span>
                            </li>
                            <li>
                                <span class="fw-bold">Apellido:</span>
                                <span th:text="${session.usuario.apellido}"></span>
                            </li>
                            <li>
                                <span class="fw-bold">Correo electrónico:</span>
                                <span th:text="${session.usuario.correo}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Proyectos</h2>
                        <div class="mb-3">
                            <label for="filtro-titulo" class="form-label"
                            >Filtrar por título:</label
                            >
                            <input
                                    type="text"
                                    class="form-control"
                                    id="filtro-titulo"
                                    placeholder="Ingrese el título del proyecto"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="filtro-lenguaje" class="form-label"
                            >Filtrar por lenguaje:</label
                            >
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary">
                                    Python
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    Java
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    JavaScript
                                </button>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th>Lenguaje</th>
                                <th>Fecha de publicación</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Proyecto 1</td>
                                <td>Python</td>
                                <td>01/01/2021</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
</body>
</html>
