<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 card">
                <h1 class="fw-bold mb-4" th:text="${proyecto.nombreProyecto}" >Título del proyecto</h1>
                <p class="lead mb-4" th:text="${proyecto.descripcionProyecto}" >Descripción del proyecto</p>
                <h2 class="fw-bold mb-3">Categorias Del Proyecto</h2>
                <ul class="list-unstyled mb-4" th:each="proyectoCategoria : ${lstProyectSubCategoria} " >
                    <li th:text="${proyectoCategoria.idSubCategoria.nombreSubCategoria}" ></li>
                </ul>
                <h2 class="fw-bold mb-3">Habilidades Necesarias</h2>
                <ul class="list-unstyled mb-4" th:each="ph :${proyectoHabilidades} " >
                    <li th:text="${ph.idHabilidad.nombreHabilidad}" ></li>
                </ul>
                <h2 class="fw-bold mb-3">Colaboradores</h2>
                <ul class="list-unstyled mb-4">
                    <li>Nombre del colaborador 1</li>
                    <li>Nombre del colaborador 2</li>
                    <li>Nombre del colaborador 3</li>
                </ul>
            </div>

        </div>
    </div>
</main>
<div th:insert="~{fragments/scripts :: footer}"></div>
</body>
</html>
