<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div id="categorias" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Categorias y Habilidades </h2>
                    <form th:action="@{/registrarPostForm}" method="post">
                        <label>Categorías:</label>
                        <div th:each="subcategoria : ${subcategorias}">
                            <input type="checkbox" id="subcategoria-[[${subcategoria.id}]]" name="subcategorias"
                                   th:value="${subcategoria.id}"/>
                            <label th:for="'subcategoria-' + ${subcategoria.id}"
                                   th:text="${subcategoria.nombreSubCategoria}"></label>
                            <br/>
                        </div>
                        <br/>
                        <label>Habilidades:</label>
                        <div th:each="habilidad : ${habilidades}">
                            <input type="checkbox" id="habilidad-[[${habilidad.id}]]" name="habilidades"
                                   th:value="${habilidad.id}"/>
                            <label th:for="'habilidad-' + ${habilidad.id}"
                                   th:text="${habilidad.nombreHabilidad}"></label>
                            <br/>
                        </div>
                        <br/>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
